@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@mixin flexCenter($dir) {
	display: flex;
	align-items: center;
	flex-direction: $dir;
}

html {
	scroll-behavior: smooth;
}

body {
	padding: 0;
	margin: 0;
	// background: black;
	color: white;
	font-family: "Montserrat", sans-serif;
	position: relative;
}

.backimg {
	height: 100vh;
	width: 100%;
	position: fixed;
	// transition: clip-path;
	// z-index: 10;
	// clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

#img1 {
	background: url("../img/af432f93087602706f67de0e95a41db8.jpg") no-repeat center;
	// background: url("../img/danny-lines-QtB2gM-bqiY-unsplash.jpg") no-repeat center;
	background-size: cover;
	z-index: -1;
}
// #img2 {
// background: url("../img/af432f93087602706f67de0e95a41db8.jpg") no-repeat center;
// 	// background: url("../img/bg3.jpeg") no-repeat center;
// 	background-size: cover;
// 	z-index: -2;
// }
// #img3 {
// 	background: url("../img/Picsart_22-06-06_16-58-17-437.jpg") no-repeat center;
// 	background-size: cover;
// 	z-index: -3;
// }
// #img4 {
// 	background: url("../img/Picsart_22-06-06_17-03-20-076.jpg") no-repeat center;
// 	background-size: cover;
// 	z-index: -4;
// }

nav {
	min-height: max-content;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	padding: 30px 0px;
	justify-content: space-between;
	position: absolute;
	top: 0;
	.head {
		padding: 0px 25px;
		font-weight: bold;
	}
	& > div {
		color: white;
		font-size: 1.2rem;
		z-index: 4;
		width: 23rem;
	}

	a {
		color: white;
		padding: 0px 25px;
		font-size: 1.2rem;
		text-decoration: none;
		cursor: pointer;
		z-index: 10;
	}
}

section {
	min-height: 100vh;
	@include flexCenter(column);
}

.home {
	position: relative;
	justify-content: center;

	& > div {
		margin-top: 20rem;
	}

	.head {
		font-size: 5rem;
		font-weight: 700;
		text-align: center;
		// margin-top: calc(18rem + 80px);
	}
	.cont {
		// margin-top: 10rem;
		font-size: 3rem;
		text-align: center;
		font-weight: 700;
	}

	img {
		height: 20rem;
		transform: scale(1);
		position: fixed;
		top: 10rem;
		z-index: -1;
	}
}

.about {
	@include flexCenter(column);
	padding: 0px 100px;
	min-height: max-content;
	width: 50%;
	margin: 50px;
	padding: 100px;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(17.5px);
	-webkit-backdrop-filter: blur(17.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	height: max-content;
	.head {
		font-size: 5rem;
		padding: 10px;
	}

	div {
		font-size: 1.4rem;
		padding: 20px 0px;
	}
}

.roadmap {
	@include flexCenter(column);
	width: 65%;
	float: right;
	font-weight: bold;

	.head {
		font-size: 5rem;
		padding: 30px;
	}
	.phase {
		display: flex;
		width: 100%;
		justify-content: space-evenly;
		margin-top: 30px;
		& > div {
			width: 40%;
			background: rgba(255, 255, 255, 0.05);
			box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
			backdrop-filter: blur(17.5px);
			-webkit-backdrop-filter: blur(17.5px);
			border-radius: 10px;
			border: 1px solid rgba(255, 255, 255, 0.18);
			padding: 20px 10px;
		}
		.subhead {
			text-align: center;
			font-size: 3rem;
		}
		ul {
			list-style: none;
			font-size: 1.2rem;
			margin-top: 30px;
			text-align: center;
			justify-content: center;
			display: flex;
			flex-direction: column;
			height: 80%;
			li {
				padding: 5px;
			}
		}
	}
	.note {
		font-size: 1.5rem;
		margin: 20px;
		text-align: center;
	}
}

.tokenomics {
	@include flexCenter(column);
	width: 100%;
	align-items: flex-start;
	font-weight: bold;

	.head {
		font-size: 5rem;
		padding: 30px;
		width: 20%;
		text-align: center;
	}

	.cont {
		display: flex;
		width: 100%;
		justify-content: space-between;
		margin-top: 30px;
		ul {
			width: 30%;
			background: rgba(255, 255, 255, 0.05);
			box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
			backdrop-filter: blur(17.5px);
			-webkit-backdrop-filter: blur(17.5px);
			border-radius: 10px;
			border: 1px solid rgba(255, 255, 255, 0.18);
			padding: 20px 10px;
			list-style: none;
			font-size: 1.2rem;
			// margin-top: 30px;
			margin: auto 100px;
			text-align: center;
			justify-content: center;
			display: flex;
			flex-direction: column;
			height: 80%;
			.subhead {
				text-align: center;
				font-size: 1.5rem;
			}
			li {
				padding: 5px;
			}
		}
	}
	.note {
		font-size: 1.5rem;
		margin: 100px 0px;
		text-align: center;
		width: 100%;
	}
}

.footer {
	// color: #40bfa9;
	font-weight: bolder;
	justify-content: center;
	font-size: 5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.footerlinks {
	min-height: 15vh;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: row;
	// padding: 30px 0px;
	justify-content: space-evenly;
	// position: absolute;
	// bottom: 0;
	.buttons {
		display: flex;
		z-index: 5;
		a {
			z-index: 10;
			margin: 10px;
			button {
				width: 100%;
				padding: 15px;
				border: none;
				border-radius: 10px;
				background-color: #03a9f4;
				color: white;
				font-size: 1.2rem;
				font-weight: bold;
				cursor: pointer;
			}
		}
	}

	.socialmedia {
		text-align: center;
		display: flex;
		div {
			display: flex;
			align-content: center;
			margin: auto 25px;
			font-size: 1.2rem;
		}
		img {
			margin: 0px 10px;
		}
	}
}

@media only screen and (max-width: 800px) {
	nav {
		flex-direction: column;
		padding: 10px 0;
		.head {
			padding: 10px 0px;
		}
		& > div {
			padding: 10px 0;
			text-align: center;
			width: 100%;
		}
	}

	section {
		min-height: max-content;
	}

	.home {
		min-height: 100vh;
		.head {
			font-size: 3rem;
		}
		.cont {
			font-size: 2rem;
		}
	}

	.about {
		padding: 15px;
		margin: 10px;
		width: 85%;
		justify-content: center;
		.head {
			font-size: 3rem;
		}
		div {
			font-size: 1.2rem;
		}
	}

	.roadmap {
		width: 100%;
		.head {
			font-size: 3rem;
		}
		.phase {
			flex-direction: column;
			justify-content: center;
			& > div {
				width: 90%;
				margin: 10px;
			}
		}
	}

	.tokenomics {
		align-items: center;
		.head {
			font-size: 3rem;
			text-align: center;
			width: 100%;
			padding: 30px 0;
		}

		.cont {
			flex-direction: column;
			ul {
				width: 90%;
				margin: 10px;
			}
		}

		.note {
			margin: 50px 0;
		}
	}

	.footer {
		min-height: 70vh;
		font-size: 3rem;
		display: flex;
		flex-direction: column;
		justify-content: start;
		.be {
			margin-top: 10px;
		}
		.euphoric {
			margin-top: 23rem;
		}
	}

	.footerlinks {
		flex-direction: column;
		padding: 10px 0;
		div {
			margin: 5px 0;
		}
	}
}
