@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  color: white;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.backimg {
  height: 100vh;
  width: 100%;
  position: fixed;
}

#img1 {
  background: url("../img/af432f93087602706f67de0e95a41db8.jpg") no-repeat center;
  background-size: cover;
  z-index: -1;
}

nav {
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 0;
}

nav .head {
  padding: 0px 25px;
  font-weight: bold;
}

nav > div {
  color: white;
  font-size: 1.2rem;
  z-index: 4;
  width: 23rem;
}

nav a {
  color: white;
  padding: 0px 25px;
  font-size: 1.2rem;
  text-decoration: none;
  cursor: pointer;
  z-index: 10;
}

section {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home > div {
  margin-top: 20rem;
}

.home .head {
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
}

.home .cont {
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
}

.home img {
  height: 20rem;
  -webkit-transform: scale(1);
          transform: scale(1);
  position: fixed;
  top: 10rem;
  z-index: -1;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 100px;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  width: 50%;
  margin: 50px;
  padding: 100px;
  background: rgba(255, 255, 255, 0.05);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(17.5px);
  -webkit-backdrop-filter: blur(17.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.about .head {
  font-size: 5rem;
  padding: 10px;
}

.about div {
  font-size: 1.4rem;
  padding: 20px 0px;
}

.roadmap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 65%;
  float: right;
  font-weight: bold;
}

.roadmap .head {
  font-size: 5rem;
  padding: 30px;
}

.roadmap .phase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 30px;
}

.roadmap .phase > div {
  width: 40%;
  background: rgba(255, 255, 255, 0.05);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(17.5px);
  -webkit-backdrop-filter: blur(17.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 20px 10px;
}

.roadmap .phase .subhead {
  text-align: center;
  font-size: 3rem;
}

.roadmap .phase ul {
  list-style: none;
  font-size: 1.2rem;
  margin-top: 30px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80%;
}

.roadmap .phase ul li {
  padding: 5px;
}

.roadmap .note {
  font-size: 1.5rem;
  margin: 20px;
  text-align: center;
}

.tokenomics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-weight: bold;
}

.tokenomics .head {
  font-size: 5rem;
  padding: 30px;
  width: 20%;
  text-align: center;
}

.tokenomics .cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.tokenomics .cont ul {
  width: 30%;
  background: rgba(255, 255, 255, 0.05);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(17.5px);
  -webkit-backdrop-filter: blur(17.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 20px 10px;
  list-style: none;
  font-size: 1.2rem;
  margin: auto 100px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80%;
}

.tokenomics .cont ul .subhead {
  text-align: center;
  font-size: 1.5rem;
}

.tokenomics .cont ul li {
  padding: 5px;
}

.tokenomics .note {
  font-size: 1.5rem;
  margin: 100px 0px;
  text-align: center;
  width: 100%;
}

.footer {
  font-weight: bolder;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footerlinks {
  min-height: 15vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footerlinks .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 5;
}

.footerlinks .buttons a {
  z-index: 10;
  margin: 10px;
}

.footerlinks .buttons a button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 10px;
  background-color: #03a9f4;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.footerlinks .socialmedia {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footerlinks .socialmedia div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: auto 25px;
  font-size: 1.2rem;
}

.footerlinks .socialmedia img {
  margin: 0px 10px;
}

@media only screen and (max-width: 800px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px 0;
  }
  nav .head {
    padding: 10px 0px;
  }
  nav > div {
    padding: 10px 0;
    text-align: center;
    width: 100%;
  }
  section {
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
  }
  .home {
    min-height: 100vh;
  }
  .home .head {
    font-size: 3rem;
  }
  .home .cont {
    font-size: 2rem;
  }
  .about {
    padding: 15px;
    margin: 10px;
    width: 85%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about .head {
    font-size: 3rem;
  }
  .about div {
    font-size: 1.2rem;
  }
  .roadmap {
    width: 100%;
  }
  .roadmap .head {
    font-size: 3rem;
  }
  .roadmap .phase {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .roadmap .phase > div {
    width: 90%;
    margin: 10px;
  }
  .tokenomics {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tokenomics .head {
    font-size: 3rem;
    text-align: center;
    width: 100%;
    padding: 30px 0;
  }
  .tokenomics .cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tokenomics .cont ul {
    width: 90%;
    margin: 10px;
  }
  .tokenomics .note {
    margin: 50px 0;
  }
  .footer {
    min-height: 70vh;
    font-size: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .footer .be {
    margin-top: 10px;
  }
  .footer .euphoric {
    margin-top: 23rem;
  }
  .footerlinks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px 0;
  }
  .footerlinks div {
    margin: 5px 0;
  }
}
/*# sourceMappingURL=style.css.map */